body {
    background-color: #ededed!important;
}

.secao-primary{
    width: 100%;
    margin: 0px auto;
}

.menu {
    height: 100vh;
}

.back{
    background-color: LightGray;
    width: 100%;
}

.secao-secondary{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.negrito {
    font-weight: bold;
}

.texto {
    font-weight: normal;
}

.padd {
    padding: initial;
}

.options-data {
    gap: 10px;
}
.options-data .btn {
    width: 100%;
}
@media (min-width: 576px) {
    .options-data .col-sm-4 {
        width: calc(33.33333333% - (10px - (10px / 3)));
    }
}