.secao-primary{
    width: 1500px;
    margin: 0px auto;
}

.back{
    background-color: LightGray;
    width: 100%;
}

.secao-secondary{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.negrito{
    font-weight: bold;
}

.texto{
    font-weight: normal;
}

.padd{
    padding: initial;
}